<link href="main.css" rel="stylesheet">

<section class="flex-1 content-center pt-12 pb-8">
    ${./furigana && ./word.furigana && `
        <div class="text-1xl text-center mb-2 text-text">
            {{word.furigana}}
        </div>
    ` || ''}$

    ${./furigana && (./word.onyomi || ./word.kunyomi) && `
        <div class="text-center mb-4 -mt-8 text-text">
            <p class="${./word.onyomi ? '' : 'hidden'}"><span title="Onyomi reading">on</span>: {{word.onyomi}}</p>
            <p class="${./word.kunyomi ? '' : 'hidden'}"><span title="Kunyomi reading">kun</span>: {{word.kunyomi}}</p>
        </div>
    ` || ''}$

    <div class="text-8xl leading-24 text-center mb-16 text-word">
        <a href="https://jisho.org/search?keyword={{word.sanitized}}" target="_blank"
           class="hover:border-b border-dashed transition-all duration-50">
            {{word.word}}
        </a>
    </div>

    <div class="text-2xl text-center mb-8 text-text">
        {{word.translation}}
    </div>

    ${./description && ./word.description && `
        <div class="text-1xl text-center mb-8 text-text">
            {{word.description}}
        </div>
    ` || ''}$

    ${./examples && ./word.example && `
        <div class="text-1xl text-center mb-8 text-text rounded-xl bg-page p-2">
            <p>{{word.example}}</p>
            <p class="italic">{{word.example_translation}}</p>
        </div>
    ` || ''}$
</section>

<section class="grid grid-cols-3 justify-items-center items-center">
    <span class="px-3 py-1 rounded-full text-sm font-medium capitalize bg-blue-100 text-(--color-darker) justify-self-start"
            title="Category">
        ${./categories[./word.category]}$
    </span>

    <div class="flex gap-2">
        <a href="https://jisho.org/search?keyword={{word.sanitized}}" target="_blank"
           class="btn btn-primary transition-colors" title="See the entry definition in jisho.org">Jisho</a>
        <a href="https://www.kanshudo.com/searcht?q={{word.sanitized}}" target="_blank"
           class="btn btn-primary transition-colors" title="See examples in kanshudo.com">
            ${./examples && ./word.example && '+' || ''}$Examples
        </a>
        <!-- <button class="btn btn-primary transition-colors" :click={loadNewWord()} title="New word">New word</button> -->
    </div>

    <span class="px-3 py-1 rounded-full text-sm font-medium bg-green-100 text-(--color-darker) uppercase justify-self-end"
            title="JLPT filter">
        ${./JLPTLevels[./word.level]}$
    </span>
</section>

<!-- <div class="flex justify-center space-x-4 mt-6">
    <button class="btn btn-primary" id="newword-btn">New Word</button>
    <button class="btn btn-secondary ${./isBookmarked ? 'bookmarked' : ''}$" id="bookmark-btn">
        ${./isBookmarked ? 'Unbookmark' : 'Bookmark'}$
    </button>
</div> -->
