@import "tailwindcss";

@theme {
    /* Variables from global scope */
    --font-serif: inherit;
    --color-word: inherit;
    --color-text: inherit;
    --color-border: inherit;
    --color-page: inherit;
    --color-card: inherit;
    --color-btn-primary: inherit;
}

@layer base {
    :host {
        display: block;
        font-family: var(--font-serif);
    }

    .btn {
        @apply px-3 py-1 rounded-lg cursor-pointer whitespace-nowrap text-sm inline-flex items-center transition-colors;
    }

    .btn-primary {
        @apply text-btn-primary hover:text-card hover:bg-btn-primary border border-btn-primary;

        &:hover [class^="icon"] {
            background-color: var(--color-card);
        }
    }

    .btn-secondary {
        @apply bg-gray-300 text-gray-800 hover:bg-gray-400;
    }

    .bookmarked {
        @apply text-red-500 hover:text-red-700;
    }

    .icon-sound {
        @apply transition-colors;

        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: var(--color-text);
        mask: url('../../assets/play-sound.svg') no-repeat center / contain;

        &:hover {
            background-color: var(--color-word);
        }
    }
}
