@theme {
    /* Variables from main.css */
    --color-word: inherit;
    --color-text: inherit;
    --color-border: inherit;
    --color-page: inherit;
    --color-card: inherit;
    --color-btn-primary: inherit;
    /* Tailwind */
    --tw-duration: inherit;
    --tw-ease: inherit;
}

@layer base {
    :host {
        display: block;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .btn {
        @apply px-3 py-1 rounded-lg cursor-pointer whitespace-nowrap text-sm;
    }

    .btn-primary {
        @apply text-btn-primary hover:text-card hover:bg-btn-primary border border-btn-primary;
    }

    .btn-secondary {
        @apply bg-gray-300 text-gray-800 hover:bg-gray-400;
    }

    .bookmarked {
        @apply text-red-500 hover:text-red-700;
    }
}
