@import "tailwindcss";

@theme {
    /* Variables from global scope */
    --color-word: inherit;
    --color-text: inherit;
    --color-border: inherit;
    --color-page: inherit;
    --color-card: inherit;
    --color-btn-primary: inherit;
}

@layer utilities {
    .darkmode-toggle {
        transition: background-color 0.1s linear;

        &::after {
            content: var(--theme-icon);
        }

        &:hover {
            background-color: var(--color-text);
        }
    }
}
