@import "tailwindcss";

@theme {
    /* Variables from global scope */
    --color-card: inherit;
}

@layer base {
    :host {
        display: block;
    }
}

@layer utilities {
    .theme-toggle {
        transition: background-color 0.1s linear;

        &::after {
            content: var(--theme-icon);
        }

        &:hover {
            background-color: var(--theme-hover);
        }
    }
}
