@import "tailwindcss";

@theme {
    /* Variables from global scope */
    --color-menu: inherit;
    --color-text: inherit;
    --color-card: inherit;
    --color-border: inherit;
}

@layer base {
    .select {
        @apply py-1 px-2 rounded-lg border bg-card text-text border-border capitalize cursor-pointer;

        &:hover {
            @apply border-text;
        }
    }

    .burguer-menu {
        width: 32px;
        height: 30px;
        transition: transform .15s ease-in-out;

        &:hover {
            & span {
                box-shadow: var(--color-menu-icon) 0px 0px 1px, var(--color-menu-icon) 0px 0px 1px;
            }
        }

        & span {
            position: relative;
            display: block;
            width: 100%;
            height: 1px;
            background: var(--color-menu-icon);
            box-shadow: 0;
            transition: transform .15s ease-in-out, inset .15s ease-in-out, box-shadow .15s;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(3) {
                bottom: 0;
            }
        }
    }

    .toggle {
        @apply cursor-pointer select-none;

        --toggle-pos-x: 0;
        --toggle-color: var(--color-border);

        &::before {
            --height: 20px;
            content: '';
            display: inline-block;
            width: 40px;
            height: var(--height);
            background: radial-gradient(circle at center, var(--toggle-color) 50%, transparent 50%) no-repeat var(--toggle-pos-x) 0 / var(--height);
            border: solid 1px var(--color-border);
            border-radius: var(--height);
            transition: 0.2s;
            vertical-align: text-bottom;
        }

        &:has(> input[type="checkbox"]:checked) {
            --toggle-pos-x: 100%;
            --toggle-color: #4299e1;
        }

        &:hover {
            &::before {
                @apply border-text;
            }
        }

        & input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;
            margin-right: 8px;
        }
    }
}

@layer utilities {
    :host(.menu-opened) {
        & .burguer-menu {
            transform: rotate(90deg);

            & span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                }

                &:nth-child(2) {
                    transform: scaleX(0);
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    bottom: 50%;
                }
            }
        }

        & #menu {
            translate: 0;
            box-shadow: var(--color-black) 0 -2px 10px;
        }

        & .backdrop {
            display: block;
            opacity: 0.75;

            @starting-style {
                opacity: 0;
            }
        }
    }
}
